
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!--navigation bar start-->
<div class="container-fluid navbarm">
    <div class="row form-inline">
        <div class="col-sm-5 col-md-3 col-lg-3 col-xl-3">
            <div class="navbar-expand-sm navbar-brand">
                <a routerLink="/home" class="sample" style="text-decoration: none;margin-left:20px"><b> rythm Admin Panel</b></a>
                <a routerLink="/managecatagories" style="margin-left:60%;text-decoration: none">Manage Catagories</a> | 
                <a routerLink="/manageplaylists" style="text-decoration: none">Manage Playlists</a> |
                <a routerLink="/managesongs" style="text-decoration: none">Manage Songs</a> | 
                <a routerLink="/adminlogin" (click)="logOut()" style="text-decoration: none;">Logout</a>
            </div>
        </div>
<br>
    </div>
  
</div>
<!--navigation bar end-->
