<footer>

    <div style="background-color: whitesmoke;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <button mat-icon-button class="fa fa-facebook-official fa-lg" aria-hidden="true"><a href="#"></a></button>
            <button mat-icon-button class="fa fa-linkedin fa-lg" aria-hidden="true"><a href="#"></a></button>
            <button mat-icon-button class="fa fa-instagram fa-lg" aria-hidden="true"><a href="#"></a></button>
            <button mat-icon-button class="fa fa-twitter fa-lg" aria-hidden="true"><a href="#"></a></button>
            <button mat-icon-button class="fa fa-youtube fa-lg" aria-hidden="true"><a href="#"></a></button>
            
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">About Us</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                We hope you enjoy our musicworld site.If you have any questions or comments, please don't hesitate to contact us.
            </p>
            <p>
                rythm Media Pvt Ltd.
            </p>  
          </div>
          
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact US</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home" aria-hidden="true"></i> Nadiad-387001</p>
          <p>
            <i class="fa fa-envelope-open" aria-hidden="true"></i> abc@gmail.com</p>
          <p>
            <i class="fa fa-phone" aria-hidden="true"></i> +91 1234567890</p>      
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Feedback</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              How much did you enjoy musicworld?
            </p>
            
          </div>
  
      </div>
      <!-- Grid row -->
     
     
      <div class="footer-copyright text-center py-3">
          <a routerLink="" class="sample" style="text-decoration: none"><b>rythm</b></a>
          <p style="font-size: 14px;color: #aaaaaa">© 2019 Copyright All Rights Reserved</p>
    </div>
    <!-- Footer Links -->
  <br><br>
  