	<div class="container" style="text-align: center">
		<div class="col-md-12"style="padding-top:90px">
			<div  class="sample" style="font-size:60px;">
				rythm
			</div>
		</div>
		<div class="col-sm-12 col-md-12">
			<div  class="sample">
				all your music at one place
			</div>
		</div>
	</div>
	<div class="container">

    <div id="forgot">
      <form id="ffm" (submit)=changePass($event) method="post">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4"></div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px" >
          <input type="password" id="pass" class="form-control" style="border-radius:20px;" placeholder="Enter new password" name="pass" required>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4"></div>
      <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px" >
        <input type="password" id="repass" class="form-control" style="border-radius:20px;" placeholder="Conform new password" required name="repass">
      </div>
      </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4"></div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" style="margin-top:20px">
          <button id="fbtn" class="btn" value="Login" style="border-radius:20px;background-color:#87CEEB;color:white;width:100%;">Change Password</button>
        </div>
        </div>
      </form>
    </div>
  </div>